dir: {{ certmgr_cert_configdir }}
svcmgr: {{ certmgr_svcmgr }}
before: {{ certmgr_before }}
interval: {{ certmgr_interval }}
metrics_address: {{ certmgr_metrics_address }}
metrics_port: {{ certmgr_metrics_port }}
